<section class="hero container">
    <h3>Evcil Dostlarınız İçin<br> <span>Güvenilir ve Dijital Veteriner Hizmeti</span></h3>
    <p>Veteriner kliniğimizde randevu, tedavi ve ödeme süreçlerini modern ve güvenli bir sistem ile yönetiyoruz.
        Evcil dostlarınızın tüm sağlık geçmişi tek bir platformda kayıt altında.</p>
    <button class="btn btn-success">Randevu Al</button>
</section>