@model DTOLayer.HeroDtos.ResultHeroDto
<section class="hero container">
    <h3>@Model.HeroTitle <span>@Model.SpanDescription</span></h3>
    <p>@Model.HeroDescription</p>
    <button class="btn btn-success">Randevu Al</button>
</section>