@model List<DTOLayer.BlogDtos.ResultBlogDto>
<section class="blog container" id="blog">
    <div class="blog-header">
        <span>📰 BLOG</span>
        <h2>Son Yazılar</h2>
    </div>

    <div class="blog-grid">
        @foreach (var item in Model)
        {
            <div class="blog-card">
                <div class="blog-img">
                    <img src="@item.Image" alt="">
                </div>
                <div class="blog-content">
                    <h3>@item.Name</h3>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
</section>