<section class="summary container">
    <div class="sumart-card">
        <div class="card">
            <i class="fa-solid fa-notes-medical"></i>
            <h3>Dijital Hasta Takibi</h3>
            <p>Hayvanlarınızın tüm muayene, tedavi ve aşı geçmişi güvenli şekilde saklanır.</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-calendar-check"></i>
            <h3>Online Randevu</h3>
            <p>İstediğiniz tarih ve saat için hızlıca randevu oluşturabilirsiniz.</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <h3>Tedavi ve Maliyet Şeffaflığı</h3>
            <p>Uygulanan tedaviler ve maliyetler detaylı olarak görüntülenebilir.</p>
        </div>
        <div class="card">
            <i class="fa-solid fa-cloud-sun"></i>
            <h3>Klinik Bilgilendirmeleri</h3>
            <p>Klinik lokasyonuna özel hava durumu bilgileri ile planlama kolaylığı.</p>
        </div>
    </div>
</section>