@model List<DTOLayer.SummaryDtos.ResultSummaryDto>

<section class="summary container">
    <div class="sumart-card">
        @foreach (var item in Model)
        {
            <div class="card">
                <i class="@item.İcon"></i>
                <h3>@item.Title</h3>
                <p>@item.Description</p>
            </div>
        }
    </div>
</section>