@model List<DTOLayer.ServiceDtos.ResultServiceDto>
<section class="services container" id="hizmetler">
    <div class="services-header">
        <span>🔹 HİZMETLERİMİZ</span>
        <h2>Sunduğumuz Veteriner Hizmetleri</h2>
    </div>

    <div class="services-grid">
        @foreach (var item in Model)
        {
            <div class="service-card">
                <i class="@item.İcon"></i>
                <h3>@item.ServiceName</h3>
                <p>@item.ServiceDescription</p>
            </div>
        }
    </div>
</section>