@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="light" lang="tr">

@await Component.InvokeAsync("_LayoutHeaderComponent")

<body class="bg-background-light text-text-main h-screen overflow-hidden flex">
    @await Component.InvokeAsync("_LayoutSidebarComponent")

    <main class="flex-1 flex flex-col h-full overflow-hidden bg-background-light relative">
        @await Component.InvokeAsync("_LayoutNavbarComponent")
        <div class="flex-1 overflow-y-auto p-8 scroll-smooth">
            <div class="max-w-7xl mx-auto flex flex-col gap-6 pb-12">
                @RenderBody()
            </div>
        </div>
    </main>
    

</body>

</html>