@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="light" lang="tr">

@await Component.InvokeAsync("_LayoutHeaderComponent")

<body class="bg-background-light text-text-main h-screen overflow-hidden flex">
    @await Component.InvokeAsync("_LayoutSidebarComponent")

    @await Component.InvokeAsync("_LayoutSidebarComponent")
    <div aria-labelledby="modal-title" aria-modal="true" class="hidden fixed inset-0 z-50 overflow-y-auto"
        id="new-appointment-modal" role="dialog">
        <div class="flex items-center justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
            @RenderBody()
        </div>
    </div>

</body>

</html>