
        <header
            class="h-20 bg-surface-white border-b border-gray-100 flex items-center justify-between px-8 flex-shrink-0 z-10">
            <div class="flex-1 max-w-xl">
                <div class="relative group">
                    
                </div>
            </div>
            <div class="flex items-center gap-6 ml-6">
                <div class="flex items-center gap-3 px-4 py-1.5 rounded-full bg-blue-50/50 border border-blue-100">
                    <span class="material-symbols-outlined text-orange-500 icon-filled">sunny</span>
                    <div class="flex flex-col">
                        <span class="text-xs font-semibold text-text-main">İstanbul</span>
                        <span class="text-xs text-text-secondary">24°C, Güneşli</span>
                    </div>
                </div>
                <div class="flex items-center gap-3 pl-4 border-l border-gray-100">
                    <div class="text-right hidden md:block">
                        <p class="text-sm font-bold text-text-main">Ahmet Y.</p>
                        <p class="text-xs text-text-secondary">Yönetici</p>
                    </div>
                    <div class="size-10 rounded-full bg-gray-200 bg-cover bg-center ring-2 ring-white shadow-sm"
                        data-alt="Profile picture of the administrator"
                        style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCFZKgtP9hUDAScrJz8xaOmqgUvdPgNZmiCJd5P3NRW6o6_68blL03jAIsncOhL5WVcc0AlusaYG1adD5tGWwB7R-VbtdYmJ5jsoHOptz5_yZ96KewdWbWaeNz9XY_o7TYrzqbw_EvSkMvVDL6hbDMU5iVeXQIk2ccBC3efS9smML5bl6_DKHO6LfV2T-_aUlvesKIvo4OMRhcljpU5z4-ZJmiVrnKu_iG-R1UNYAmsZR-8-kILfxuls9A9pjIapX_1iFFbrM32wPs');">
                    </div>
                </div>
            </div>
        </header>