@model DTOLayer.UIAppointmentDtos.ResultUIAppointmentDto
<section class="appointment-cta">
    <div class="container cta-box">
        <div class="cta-text">
            <h2>@Model.Text <span>@Model.ButtonText</span></h2>
            <p>
                @Model.Description
            </p>
        </div>
        <div class="cta-action">
            <a href="#" class="btn btn-success">Randevu Oluştur</a>
        </div>
    </div>
</section>