<section class="about container" id="hakkimizda">
    <div class="about-l">
        <h2>Modern Veteriner Hizmetleri,<span>Güvenilir Yaklaşım</span> </h2>
        <p>
            Veteriner kliniğimiz; hayvan sağlığını ön planda tutan, dijital çözümlerle desteklenmiş modern bir
            yapıya sahiptir.
            Randevu, tedavi ve finansal süreçler sistemli ve şeffaf bir şekilde yönetilmektedir.
            <br><br>
            Deneyimli ekibimizle evcil dostlarınızın sağlığını güvenle takip ediyoruz.
        </p>
        <button class="btn btn-success">Devamını Oku</button>
    </div>

    <div class="about-r">
        <div class="about-r-img-l">
            <img src="https://png.pngtree.com/thumb_back/fh260/background/20221118/pngtree-golden-retriever-dog-in-veterinary-clinic-check-examine-veterinary-photo-image_41078780.jpg"
                 alt="">
            <img src="https://st2.depositphotos.com/1177973/12240/i/450/depositphotos_122400894-stock-photo-veterinarian-doctor-with-cat.jpg"
                 alt="">
            <img src="https://www.asyaveteriner.net/wp-content/uploads/2022/11/muayeneteshistedavi.jpg" alt="">
            <img src="https://images.ctfassets.net/szez98lehkfm/7vjeDCbNfornGhWenzwBX4/dda29d2e80f6ba1d5cb52d3a7eed0be0/MyIC_Article_104261?fm=webp"
                 alt="">
        </div>
    </div>
</section>